<!DOCTYPE html>

<html lang="en">
<head>
    <partial name="_Head" />
</head>
<body>
    <div>
        <div class="wrapper">
           
            <partial name="_Sidebar" />
            <partial name="_Header" />
            <div class="page-wrapper">
                <div class="page-content-wrapper">
                    <div class="page-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay toggle-btn-mobile"></div>

        <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <div class="footer">
            <p class="mb-0">
                Syndash @@2020 | Developed By : <a href="https://themeforest.net/user/codervent" target="_blank">codervent</a>
            </p>
        </div>
    </div>
    <partial name="_Switcher" />
    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", false);
</body>
</html>
