 @using EA.Entity.Entities
 @model IndexComponent
 @using EA.BLL

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">


        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="Selected Image" />
            <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2>Beauty Parlor</h2>
                        <p>"Neque porro quisquam est qui dolorem ipsum, adipisci velit..."</p>
                        <a  asp-controller="Home" asp-action="About" class="btn-get-started">About Us</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>No image selected.</p>
        }


                
            
        

    </section><!-- /Hero Section -->

</main>


